
.App {
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 280px;
  margin: 0 auto;
  background: beige;
}

li{
  font-size: 22px;
  list-style: none;
}